@using KisiselWebProjesi.Models.Classes
@model List<Icons>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />

<h3>İkonlar</h3>
<table class="table table-bordered mt-3" style="font-size:18px ; width:1000px">
    <tr>
        <th> ID </th>
        <th> İkon </th>
        <th> Link</th>
        <th> Güncelle </th>
        <th> Sil </th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.id</td>
            <td><i class="@x.icon_name" style="font-size:30px"></i></td>
            <td>@x.icon_link</td>
            <td><a href="@Url.Action("IkonlariGoster", "Icon", new { id = x.id })" class="btn btn-primary">Güncelle</a></td>
            <td><a href="@Url.Action("IkonSil", "Icon", new { id = x.id })" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>
<div>
    <a href="@Url.Action("YeniIkonEkle","Icon")" class="btn btn-info" style="font-size:20px">Yeni İkon Ekle</a>
</div>
