@model KisiselWebProjesi.Models.Classes.Experience
@{
    ViewBag.Title = "DeneyimGoster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2 class="mt-4">Deneyimler</h2>

<hr />

@using (Html.BeginForm("DeneyimiGuncelle", "MainPage", FormMethod.Post))
{
    @Html.LabelFor(x => x.id)
    @Html.TextBoxFor(x => x.id, new { @class = "form-control", @readonly = "readonly" })
    <br />

    @Html.LabelFor(x => x.experience_name)
    @Html.TextBoxFor(x => x.experience_name, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.experience_description)
    @Html.TextBoxFor(x => x.experience_description, new { @class = "form-control" })
    <br />

    <button class="btn btn-success"> Deneyimi Güncelle </button>

}

