@using KisiselWebProjesi.Models.Classes
@model List<MainPage>
@{
    Layout = null;
    var firstItem = Model.FirstOrDefault();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>Kişisel Web Sitesi</title>
    <link rel="stylesheet" href="~/view-KisiselWebSitesi/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <div class="admin_icon">
        <a href="@Url.Action("Index","Login")">
            <img src="~/view-KisiselWebSitesi/8644456.png">
        </a>
        <h3>ADMİN</h3>
    </div>
    <div class="center">
        <div class="avatar">

            <img src="@firstItem.profile_photo" alt="profile resmi">


        </div>
        <div class="content">

            <h1>@firstItem.name</h1>
            <h2>@firstItem.title</h2>
            <p>
                @firstItem.description
            </p>
            <h3> @firstItem.contact </h3>
        </div>
        @Html.Action("Icons", "MainPage")
    </div>
</body>
</html>