@using KisiselWebProjesi.Models.Classes
@model List<Sertificiate>

@{
    ViewBag.Title = "SertificiateIndex";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Sertifikalar</h3>
<table class="table table-bordered mt-3" style="font-size:18px ; width:1000px">
    <tr>
        <th> ID </th>
        <th> Sertifika Adı </th>
        <th> Sertifika Açıklaması</th>
        <th> Güncelle </th>
        <th> Sil </th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.id</td>
            <td>@x.sertificiate_name</td>
            <td>@x.sertificiate_description</td>
            <td><a href="@Url.Action("SertifikaGoster", "MainPage", new { id = x.id })" class="btn btn-primary">Güncelle</a></td>
            <td><a href="@Url.Action("SertifikaSil", "MainPage", new { id = x.id })" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>
<div>
    <a href="@Url.Action("YeniSertifikaEkle","MainPage")" class="btn btn-info" style="font-size:20px">Yeni Deneyim Ekle</a>
</div>

