
@model KisiselWebProjesi.Models.Classes.MainPage

@{
    ViewBag.Title = "BilgileriGoster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="mt-4">Bilgiler</h2>

<hr />

@using (Html.BeginForm("BilgileriGuncelle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.id)
    @Html.TextBoxFor(x => x.id, new { @class = "form-control", @readonly = "readonly" })
    <br />

    @Html.LabelFor(x => x.name)
    @Html.TextBoxFor(x => x.name, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.title)
    @Html.TextBoxFor(x => x.title, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.description)
    @Html.TextAreaFor(x => x.description, new { @class = "form-control" })
    <br />

    @Html.LabelFor(x => x.contact)
    @Html.TextBoxFor(x => x.contact, new { @class = "form-control" })
    <br />
    <a class="btn btn-info" href="@Url.Action("ExperienceIndex","MainPage")">Deneyimlere Gözat</a>
    <br />
    <br />
    <a class="btn btn-info" href="@Url.Action("SertificiateIndex","MainPage")">Sertifikalara Gözat</a>
    <br />
    <br />
    <button class="btn btn-success"> Bilgileri Güncelle </button>

}



